<%= provide(:title, "All teams") %> 

  <% if @teams.count != 0 %>
  
  <p>Total number of teams: <%= @teams.count %> <br><br>
     
    <% @teams.each do |team| %>
      <b><%= team.name %></b> <%= link_to 'delete', team, method: :delete, data: {confirm: "Are you sure?"} %> <br>
        <p><i>Members: </i> <%= team.member1 %>, <%= team.member2 %>, <%= team.member3 %> <br>
           <i>Email: </i> <%= team.email %><br>
           <i>Allergies/Comments:</i> <%= team.race_type %> <br>
    <% end %>
    
  <% else %> 
    <p>No teams are registered.</p>
  <% end %> 