<%= provide(:title, "Registration") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for(@team) do |f| %>
    
      <%= f.label :name, "Team name" %>
      <%= f.text_field :name %>

      <%= f.label :member1, "Member 1" %>
      <%= f.text_field :member1 %>
      
      <%= f.label :member2, "Member 2" %>
      <%= f.text_field :member2 %>
      
      <%= f.label :member3, "Member 3" %>
      <%= f.text_field :member3 %>

      <%= f.label :email %>
      <%= f.email_field :email %>
      
      <%= f.label :race_type, "Allergies or other comments" %>
      <%= f.text_field :race_type %>

      <%= f.submit "Register team!", class: "btn btn-primary" %>
    <% end %>
    <p>The price of the event is 15€/person (45€/team).</p>
  </div>
</div>
