<%= provide(:title, 'About') %> 
<p>TF Xtreme Challenge Endurance is the adventure race 
   where competitors get to test their limits, both physical and mental.<br><br>

  This years competition will be more focused on endurance and strength
  than the previous competitions and there will be a bit fewer checkpoints.
  25 teams complete the course consisting of 40-50 km cycling
  and a bit of running combined with a number of physically and mentally challenging checkpoints.<br><br>
  
  Do YOU have the guts to participate?
  Don't miss the toughest, funniest and most unforgettable extreme sports competition of the year.
  Last year the event was sold out in advance, so be quick this year!<br><br>
  The sign-up will open on the 8th of September 12.00.<br><br>
  WHAT? An extreme sport competition for students. 3 persons / team<br>
  WHEN? The 23rd of September 2017 10 am<br>
  WHERE? Startpoint at Alvarin Aukio, Otaniemi<br>
  PRICE? 15 € / person (45 € / team)
</p>