<% provide(:title, "Home" ) %> 
<div class="jumbotron">
  <div class="dark-square">
      <div class="opacity-1">
        <h1>GET READY</h1>
        <h1>23.9.2017</h1>
        <p class="lead">You do not want to miss this adventure.</p>
        <p class="lead">Register your winner team right now!</p>
        <p><a class="btn btn-lg btn-success" href="/registration" role="button">REGISTER TEAM</a></p>
      </div>
  </div>
</div>
<p>TF Xtreme Challenge Endurance is the adventure race 
   where competitors get to test their limits, both physical and mental.<br><br>

  This years competition will be more focused on endurance and strength
  than the previous competitions and there will be a bit fewer checkpoints.
  25 teams complete the course consisting of 40-50 km cycling
  and a bit of running combined with a number of physically and mentally challenging checkpoints.<br><br>
  
  Do YOU have the guts to participate?<br><br>
  Don't miss the toughest, funniest and most unforgettable extreme sports competition of the year.
  Last year the event was sold out in advance, so be quick this year!<br><br>
  The sign-up will open on the 8th of September 12.00.</p>

