<%= provide(:title, "Instructions") %>
<div class="row marketing">
  <div class="col-lg">
    <h4>Distances and tasks during the race:</h4>
    <p>The course consists of 40-50 km cycling and a bit of running combined with a number of physically and mentally challenging checkpoints.</p>
    
    <h4>Start:</h4>
    <p>The race starts from Alvarin Aukio in Otaniemi at 10 am on Sat 23th September. Before the start each team must take part in race briefing, the time of which will be announced as the event approaches. Teams will start with 5-minute intervals.</p>
    <p>Contestants may leave their belongings (eg. valuables, warmup and reserve clothes) in a 100-litre plastic bag that will be transported to the vicinity of the goal by race organizers. The bag will be clearly marked with the team’s race number and the whole team will use the same bag.</p>
  
    <h4>Transference during race:</h4>
    <p>Teams will move from checkpoint to another using their own bikes. If a race organizer hasn’t defined a specific route to the next checkpoint, it is up to the contestants to figure out their way there. Usage of any kind of GPS or other tracking devices during the race is strictly forbidden. The overall route has been designed so that there will be no roads worse than a well-mainained gravel road. Considering the nature of the race, one should still leave their over-expensive race bike home.</p>
  
    <h4>EMIT-timing:</h4>
    <p>Having arrived in the start area, each team will be given an EMIT-timing chip to use during the race. Each checkpoint will have two different EMIT receivers:</p>
    <p>START – Tag when your team arrives at the checkpoint.</p>
    <p>END – Tag when your team has completed the task or is about to perform the task. END will therefore be always tagged corresponding to the instructions given by the checkpoint staff.</p>
    <p>Tag when your team has completed the task or is about to perform the task. END will therefore be always tagged corresponding to the instructions given by the checkpoint staff.</p>
    <p>The time between tagging START and END will be subtracted from the total race time. Any misuse of EMIT devices will result in a time penalty.</p>
  
    <h4>Checkpoints:</h4>
    <p>As soon as your team arrives at a checkpoint you have to tag START. From that on, each team waits until checkpoint personnel gives them information about performing the checkpoint’s task. Should more than one team arrive at a checkpoint simultaneously or if there is already a queue, the teams will queue in the order they arrived at the checkpoint.</p>
    <p>If END is tagged before completing a task in a checkpoint, the time spent in the checkpoint will be included in the total race time. In this case the team is allowed to exit the checkpoint as soon as they have completed the task.</p>
    <p>At most of the checkpoints END is tagged no sooner than after the completion of the task in that checkpoint. In these cases the time spent at the checkpoint will not be included in total race time. On the contrary, performing well will result in a reduction of total race time.</p>
    <p>Checkpoint personnel will always tell your team when to tag END. Please, do ask whenever feeling unsure! As a result of skipping a task or clearly violating staff’s instructions the team will get a time penalty.</p>
  
    <h4>Goal:</h4>
    <p>The goal is found near Otaniemi. Your team’s plastic bag with its contents will be transported to the goal area as the race starts. In the goal area, it is possible to sauna.</p>
  
    <h4>Food and drink checkpoints:</h4>
    <p>There will be several food and drink checkpoints during the race. More specific information on these will be announced later.</p>
  </div>
</div>