<%= provide(:title, "Rules") %>
<div class="row marketing">
  <div class="col-lg">
    <h4>General:</h4>
    <ul>
      <li>The team consist of three (3) students. Valid student cards must be shown when asked.</li>
      <li>The competitors must be at least 18 years old, healthy and be in a sufficiently good shape.</li>
      <li>The competitors must have swimming and orienteering competence. If you have any questions, feel free to ask before the competition.</li>
      <li>The competitors are responsible for their own insurance, the organizers do not have any responsibility for injuries or broken equipment during the race.</li>    
      <li>The registration is binding, but team members can be changed until three days before the competition by contacting the head race organizer. After this day changes are valid only by doctor's certificate.</li>
    </ul>

    <h4>The competition:</h4>
    <ul>
      <li>The competitors are obligated to follow all directives and guidelines given by the organizers. They must also carefully read trough all rules.</li>
      <li>Traffic rules must be followed at all times! If a competitor is seen breaking traffic rules or cycling without a helmet, the organizers have the right to disqualify the team.</li>
      <li>The race consist of 10-20 checkpoints, between which the competitors travel by bike.</li>  
      <li>The team members have to take care that they are eating and drinking enough during the race.</li>
      <li>Total distances and some of the checkpoints are listed in race instructions, but the team should also be ready for surprise checkpoints.</li>
      <li>The competition time is calculated for the whole race, only possible queue times are taken off.</li>
      <li>All checkpoints are held by professional and competent instructors, which safety orders and instructions should be followed at all times.</li>
      <li>The highest permitted distance between two team members is 50 meters. Longer distances are only allowed if a checkpoint needs it, and then also only if an organizers gives permission.</li>
    </ul>

    <h4>Registration:</h4>
    <ul>
      <li>The registration for the competition opens 12:00 8.9 and closes after 30 teams have signed up.</li>
      <li>After registration the team receives a confirmation e-mail with a bill for the registration fee. The registration fee should be paid on the given bank account within seven days from registration. The payments will be checked before the competition, and teams can be asked to bring a receipt of the payment to the competition (if the payment has been done later than 20.9).</li>
      <li>The team will receive more information about the competition before the race day.</li>
    </ul>
    
    <h4>Cutting the competition:</h4>
    <ul>
      <li>If one member of the team is forced to cut, the other ones can, if they want, continue the race with a two member team. The cutting must be informed to the competition leader as fast as possible.</li>
      <li>The other members can continue the competition, but they no longer participate in the competition team. Therfore, they must be ready to give space for teams that are still competing if needed.</li>
    </ul>
    
    <h4>Checkpoints:</h4>
    <ul>
      <li>During the race the team will meet adventure checkpoints, which will test the competitors physical, mental, logical strenght, as well as team skills and courage.</li>
      <li>The teams perform the checkpoints in the order they arrived, according to organizers instructions.</li>
      <li>The team can always choose to not perform a checkpoint, which will give them a time-penalty.</li>
      <li>During the competition an EMIT- based timekeeping system is used. The teams are obligated to pay (80 €) for a missing EMIT after the race. The report of the missing EMIT should be done as fast as possible so the competitors can continue the race without the EMIT.</li>
    </ul>
    
    <h4>Other:</h4>
    <ul>
      <li>Any protest must be reported immediately when the team has passed the gold line. The race judiciary will treat the protest immediately.</li>
      <li>The competitors are not allowed to aggravate other team's performance.</li>
      <li>The organizers are allowed to disqualify teams that have broken the competition rules.</li>
      <li>The competition shirts(will be given) must be visible during the whole race.</li>
      <li>The organizers are allowed to change rules before and during the competition. Competitors should always be informed of these changes.</li>
      <li>The organizers can give additional instructions during the race. All competitors must follow these, even though it would break any of the rules listed here or on the competition paper.</li>
    </ul>
  </div>
</div>
