Your team has been registered to compete in the TF-xtreme competition, with the following information:<br><br>
  
  Member 1: <%= @team.member1 %><br>
  
  Member 2: <%= @team.member2 %><br>
  
  Member 3: <%= @team.member3 %><br>
  
  
  Before the raceday, have a look at these:<br> 
  
  <%= link_to "Rules", rules_url %><br>
  
  <%= link_to "Instructions", instructions_url %><br>
  
  And remember to pay 15€ /person (45 €/team) to the following account: <br>
  FI0240552920125475<br><br>
  

  We'll see you on the raceday!<br><br>
  
  In case of questions contact: extremist@teknolog.fi 