@import "bootstrap-sprockets";
@import "bootstrap";

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  //background-image: url(img_7766.jpg);
  background-size: cover;
  height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
 // border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  
}

/* Customize container */
@media (min-width: 868px) {
  .container {
    max-width: 830px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  color: white;
  border-bottom: 1px solid #e5e5e5;
  background-image: url(image_path('header.png'));
  background-size: cover;
  font-weight:900;
  text-shadow: 0px 0px 3px #000;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.dark-square {
  background-color:rgba(black,0.5);
  width: 450px;
  position: center;
  margin: auto;
}
.opacity-1 {
    padding: 10px;
    opacity: 1;
}

/* Supporting marketing content */
.marketing {
  margin: 40px;
}
.marketing p + h4 {
  margin-top: 40px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  
  .footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #e5e5e5;
    color: $gray-light;
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

