<footer class="footer">
      <small>
        <p>&copy; Teknologföreningen 2017</p>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="https://www.facebook.com/events/115885275735764/">Facebook</a></li>
        </ul>
      </nav>
</footer>