<div class="header clearfix container">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
            EVENT INFO <b class="caret"></b>
          </a>
           <ul class="dropdown-menu">
             <li><%= link_to "Instructions", instructions_path %></li>
             <li><%= link_to "Rules", rules_path %></li>
           </ul>
        </li>
        <li role="presentation"><%= link_to "CONTACT", contact_path%></li>
      </ul>
    </nav>
    <div class="logo">
      <%= link_to image_tag("tfextremlogo.png", alt:"logo", height:"40"), root_path %>
    </div>
</div>